<app-menu></app-menu>
<div class="container">
  <div class="row mt-5" *ngIf="user">
    <div class="col-md-4 mx-auto">

      <div class="card" style="width: 18rem;">
        <div class="card-header text-center fs-4 p-4">
          <strong>{{user.name}} {{user.lastName}}</strong>
        </div>

        <div class="m-3 text-center">
          <img src="{{user.profile_img}}" alt="" width="150" height="150">
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>ID: </strong>{{user.id}}</li>
          <li class="list-group-item"><strong>EMAIL: </strong>{{user.email}}</li>
          <li class="list-group-item"><strong>CELULAR: </strong>{{user.phone}}</li>
          <li class="list-group-item"><p><strong>BIOGRAFIA: </strong>{{user.biography}}</p></li>
        </ul>

        <div class="card-footer d-grid gap-2">
          <button class="btn btn-outline-primary btn-block" (click)="volver()"><i class="fas fa-arrow-alt-circle-left" aria-hidden="true"></i> Volver</button>
        </div>
      </div>

    </div>
  </div>
</div>