<app-menu></app-menu>

<div class="container d-flex justify-content-center my-4">
  <div class="card">
    <div class="card-header">
      <h3>Introduce tu Nueva Contraseña</h3>
    </div>
    <div class="card-body">
  
      <form #f="ngForm" (ngSubmit)="onChangePassword()" novalidate>        
        <div class="mb-3">    
          <label for="password">Contraseña</label>      
          <input class="form-control" type="password" name="password" id="password" [(ngModel)]="password" required>
        </div>
        
        <div class="mb-3">    
          <label for="confirmPassword">Confirmar Contraseña</label>      
          <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" [(ngModel)]="confirmPassword" required>
        </div>  
        
        <div class="mb-3 d-grid gap-2">
          <button class="btn btn-outline-success btn-block" [disabled]="!f.valid" type="submit"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> Modificar Contraseña</button>
        </div>
      </form>  
    
    </div>
  </div>
</div>